.DS_Store
.bundle
app/views/layouts/custom/*
config/*.sphinx.conf
config/database.yml
config/deploy.rb
db/sphinx/*
db/dumps/*
db/*.sqlite3
doc/todos/*
log/*
public/images/templates/*
public/system/*
tmp/
Capfile