<div class="fields row">
	<div class="span3"><%= f.input :first_name, :label => "Vorname" %></div>
	<div class="span3"><%= f.input :last_name, :label => "Nachname" %></div>
	<div class="span3">
		<label for="destroy">&#160;</label>
		<%= f.hidden_field :_destroy %>
		<%= link_to_function "Autor löschen", "removeAuthor(this)", {:class => "btn btn-danger"} %>
	</div>
</div>