<% cache(:action => "new", :action_suffix => 'tag_in_use_selection') do %>
	<label for="book_nested_tags">Ergebnis nach Schlagwort filtern:</label>
	<%= tree_select(NestedTag.root, "book", "tag", -1, "0", {:multiple => false, :filter_unused => true})%>
<% end %>